@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
  --light: #f5f5f5;
  --dark: #36454f;

  --space-1: 1rem;
}

/* 
  Accent: 
  font-family: 'Dancing Script', cursive;
 */

body * {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
